{% extends 'base.html' %} {% load static %} {% block content %}
<div
  class="relative flex min-h-screen w-full flex-col bg-white overflow-x-hidden"
  style="font-family: 'Plus Jakarta Sans', 'Noto Sans', sans-serif"
>
  <!-- Header Sticky -->
  <div class="sticky top-0 z-10 bg-white border-b border-[#F4F2F0]">
    <h2
      class="text-[#181411] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5"
    >
      Antrian Pesanan
    </h2>
  </div>

  <!-- Scrollable Content -->
  <div class="flex-grow overflow-y-auto pb-28">
    <!-- Dibuat Section -->
    <div class="px-4">
      <h3 class="text-[#181411] text-lg font-bold pb-2 pt-4">Dibuat</h3>

      {% for order in orders_created %}
      <div
        class="flex items-center gap-4 bg-white px-4 min-h-[72px] py-2 mb-3 rounded-lg border border-[#F4F2F0]"
      >
        
        </div> -->

        <div class="flex flex-col justify-center">
          <p class="text-[#181411] text-base font-medium leading-normal">
            {{ order.customer_name }}
          </p>
          <p class="text-[#897261] text-sm">Pesanan #{{ order.id }}</p>
        </div>

        <a
          href="{% url 'order_done' order.id %}"
          class="ml-auto btn btn-success"
        >
          Selesai
        </a>
      </div>
      {% empty %}
      <p class="text-[#897261] ml-2">Belum ada pesanan.</p>
      {% endfor %}
    </div>

    <!-- Selesai Section -->
    <div class="px-4 mt-4">
      <h3 class="text-[#181411] text-lg font-bold pb-2 pt-4">Selesai</h3>

      {% for order in orders_completed %}
      <div
        class="flex items-center gap-4 bg-[#f4f2f0] px-4 min-h-[72px] py-2 mb-3 rounded-lg opacity-70"
      >
        <div
          class="text-[#181411] flex items-center justify-center rounded-lg bg-white shrink-0 size-12"
        >
          ✓
        </div>

        <div class="flex flex-col justify-center">
          <p class="text-[#181411] text-base font-medium">
            {{ order.customer_name }}
          </p>
          <p class="text-[#897261] text-sm">Pesanan #{{ order.id }} selesai</p>
        </div>
      </div>

      {% empty %}
      <p class="text-[#897261] ml-2">Belum ada pesanan selesai.</p>
      {% endfor %}
    </div>
  </div>

  <!-- Bottom Navigation -->
  <div
    class="fixed bottom-0 left-0 right-0 bg-white p-4 pt-2 border-t border-[#F4F2F0]"
  >
    <a
      href="{% url 'dashboard' %}"
      class="block w-full text-white text-center items-center hover:font-bold mb-2 transition-all duration-200 bg-orange-500 px-4 py-3 rounded-lg mt-3"
    >
      Kembali ke Dashboard
    </a>
  </div>
</div>
{% endblock %}
