{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'main/login.css' %}" />
{% endblock extra_css %}

{% block content %}
<div class="login-container">
  <div class="form-inner">
    <h2 id="form-title">Login Kasir</h2>
    <p id="form-subtitle">Masukkan detail login Anda</p>

    <!-- Form Login Django -->
    <form method="POST">
      {% csrf_token %}
      
      <div class="input-group">
        <label for="username">Username:</label>
        {{ form.username }}
      </div>

      <div class="input-group">
        <label for="password">Password:</label>
        {{ form.password }}
      </div>

      <!-- Pesan Error Login -->
      {% if form.non_field_errors %}
        <div class="error-message" style="display: block;">
          {{ form.non_field_errors.0 }}
        </div>
      {% endif %}

      <button type="submit" class="login-btn">Login</button>
    </form>

    <div class="form-footer">
      Belum punya akun? <a href="{% url 'register' %}">Register di sini</a>
    </div>
  </div>
</div>
{% endblock %}